In [1]:
import pandas as pd

train_data = pd.read_csv('../datasets/LoanTrainData.csv')

train_data.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [2]:
X = train_data[['Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History']]
y = train_data.Loan_Status

X.Education.replace(('Graduate','Not Graduate'), (1,0), inplace=True)
X.Self_Employed.replace(('Yes','No'), (1,0), inplace=True)
X.Dependents.replace(('1','2','3','3+'),(1,2,3,4), inplace= True)

X = X.fillna(1)

/usr/local/lib/python3.5/dist-packages/pandas/core/generic.py:4619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [3]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

metric = []
for i in range(1,21):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X,y)
    y_predict = knn.predict(X)
    metric.append(metrics.accuracy_score(y,y_predict))
    
metric

[1.0,
 0.8013029315960912,
 0.7785016286644951,
 0.737785016286645,
 0.7280130293159609,
 0.7166123778501629,
 0.7247557003257329,
 0.7084690553745928,
 0.7214983713355049,
 0.7182410423452769,
 0.7068403908794788,
 0.7003257328990228,
 0.7035830618892508,
 0.7068403908794788,
 0.7052117263843648,
 0.7035830618892508,
 0.6986970684039088,
 0.7003257328990228,
 0.7068403908794788,
 0.7019543973941368]

In [4]:
test_data = pd.read_csv('../datasets/LoanTestData.csv')

X_test = test_data[['Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History']]

X_test.Education.replace(('Graduate','Not Graduate'), (1,0), inplace=True)
X_test.Self_Employed.replace(('Yes','No'), (1,0), inplace=True)
X_test.Dependents.replace(('1','2','3','3+'),(1,2,3,4), inplace= True)

X_test = X_test.fillna(1)

/usr/local/lib/python3.5/dist-packages/pandas/core/generic.py:4619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [5]:
Knn_1 = KNeighborsClassifier(n_neighbors=9)
Knn_1.fit(X,y)

y_pred = Knn_1.predict(X_test)

y_list = list(zip(test_data.Loan_ID, y_pred))

df = pd.DataFrame(y_list, columns = ['Loan_ID','Loan_Status'])
df.to_csv('../predict_1.csv')